# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
db.sqlite3-wal
db.sqlite3-shm
media/

# Node
node_modules/
npm-debug.log

# VS Code / IDEs
.vscode/
.idea/
*.swp
*.swo

# Agents / Other
.agents/
Курсовая